:root {
  --bg: #090808;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: var(--bg);
}

.header {
  background-color: #090808;
  padding: 10px 0px; 
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.header-content {
  display: flex;

  width: 100%;
  max-width: 1200px; 
  margin: auto;
}

.logo {
  height: 150px;
  margin-top: -50px;
}

.footer {
  position: fixed; /* Position the footer */
  bottom: 0; /* Stick it to the bottom of the viewport */
  left: 0;
  width: 100%; /* Occupy the full width */
  background-color: #090808;
  color: #fff;
  padding: 20px;
}

.footer-content p {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}




