:root {
  --bg: #090808;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: var(--bg);
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #403f3e;
  padding: 10px;
  text-align: center;
  align-items: center;
  max-height: 30px; /* Limit the maximum height */
  overflow: hidden; /* Hide overflow content */
 
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: -4px;
  border-radius: 5px;
  text-align: center;
}

.user-info p {
  display: flex;
  margin-right: 700px;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
}

.avatar-option {
  width: 30px; 
  height: 30px; 
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 60%; 
  cursor: pointer;
  
}

.menu a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}







.header {
  background-color: #090808;
  padding: 10px 0px; 
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.header-content {
  display: flex;

  width: 100%;
  max-width: 1200px; 
  margin: auto;
}

.logo {
  height: 150px;
  margin-top: -50px;
}

.footer {
  position: fixed; /* Position the footer */
  bottom: 0; /* Stick it to the bottom of the viewport */
  left: 0;
  width: 100%; /* Occupy the full width */
  background-color: #090808;
  color: #fff;
  padding: 20px;
}

.footer-content p {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}



.search-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  position: relative;
  margin-top: -170px; /* Adjust the margin from the top */
}


.search-bar {
  padding: 10px;
  width: 300px;
  border: none; /* Remove border */
  border-radius: 100px; /* Make it round */
  outline: none;
  background-color: #403f3e; /* Opaque black */
  color: white;
  font-size: 16px;
  font-weight: bold;

  
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
}

.search-bar:focus {
  background-color: rgba(0, 0, 0, 0.7); /* Darker shade on focus */
}

.search-bar:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker shade on hover */
}


/* homepage */
.container {
  max-width: 800px; /* Adjust this value to fit your design */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding for spacing */
  background-color: white;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 20px;
  
}
.homepage {
  text-align: center;
}

.homepage-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.homepage-description {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 20px;
}

.homepage-how-it-works {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 20px;
}

.homepage-tagline {
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 20px;
}

.homepage-signup-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  cursor: pointer;
}

.homepage-signup-button:hover {
  background-color: #45a049;
}

.homepage-login-link {
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}


/* Auth Homepage */
.countdown-timer {
  font-size: 2rem; /* Increase font size */
  font-weight: bold; /* Make the text bold */
  color: #ff6347; /* Change the color to a prominent color (e.g., red) */
  text-align: center; /* Center the countdown timer */
  margin-top: 20px; /* Add some margin to separate it from other content */
}

.timer-item {
  margin: 0 5px; /* Add some space between each timer item (hours, minutes, seconds) */
}

/* Styles for meal placeholders */
.meal-placeholder-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  flex-wrap: wrap;
  flex-direction: row;
 
}

/* Styles for meal placeholders */
.meal-placeholder {
  
  border: 2px solid #C200FB;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px; /* Adjust as needed for spacing */
}

.meal-placeholder h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.meal-placeholder p {
  margin: 0;
  font-size: 16px;
}

/* Container styles */
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 150px;
}

/* Heading styles */
.signup-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
.signup-form {
  display: flex;
  flex-direction: column;
}

/* Field styles */
.signup-field {
  margin-bottom: 15px;
}

/* Error message styles */
.signup-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Avatar selection styles */
.avatar-selection {
  margin-top: -25px;
}

.avatar-selection h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.avatar-option {
  margin-bottom: 10px;
}

.avatar-option img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.avatar-option img:hover {
  border-color: #333;
}

/* Submit button styles */
.signup-submit {
  padding: 10px 20px;
  background-color: #EC0868;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Container styles */
.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 150px;
}

/* Heading styles */
.login-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Field styles */
.login-field {
  margin-bottom: 15px;
}

/* Error message styles */
.login-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Submit button styles */
.login-submit {
  padding: 10px 20px;
  background-color: #EC0868;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.recipe-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9; /* Change to your preferred background color */
  padding: 20px;
  margin-top: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.recipe-form .form-group {
  margin-bottom: 20px;
}

.recipe-form label {
  display: block;
  margin-bottom: 5px;
}

.recipe-form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.recipe-form button {
  background-color: #EC0868;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.recipe-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.recipe-form .error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.recipe-details {
  padding: 20px;
}

.recipe-details h3 {
  margin-top: 0;
}

.recipe-details p {
  margin: 10px 0;
}
.ingredients-list button {
  margin-top: 0.5rem;
  background-color: #EC0868;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.remove-ingredient-btn {
  background-color: #f44336;
}

.add-ingredient-btn {
  background-color: #2196f3;
}


.profile {
  min-width: 350px;
  max-width: 1000px;
  max-height: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 155px;
  margin-bottom: -80px;
 
}

.profile h2 {
  margin-bottom: 20px;
  margin-top: -20px;
}

.profile-info {
  margin-top: 20px;
}

.profile-info p {
  margin-bottom: 10px;
}

.profile-info label {
  display: block;
  margin-bottom: 5px;
}

.profile-info input[type="text"],
.profile-info input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.profile-info button {
  padding: 10px 20px;
  background-color: #EC0868;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}

.profile-info button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #ff0000;
  margin-top: 5px;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: -4px;
}

.edit-button:hover {
  background-color: #0056b3;
}



.profile-logout-button {
  
  position: fixed;
  padding: 2px 8px; /* Adjust padding as needed */
  background-color: #EC0868; /* Your desired background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Apply border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px;
  margin-right: 810px;
  margin-top: 70px;
  margin-bottom: 35px;

}

.profile-logout-button:hover {
  background-color: #d60959; 
} 

.profile-logout-button:active{
  transform: translateY(1px); /* Add slight downward movement when clicked */
}

.delete-button {
  /* position: fixed; */
  background-color: #dc3545; /* Red background color */
  color: #fff; /* White text color */
  border: none; /* No border */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 4px;
  margin-top: 50px;
  margin-right: -825px;
}

.delete-button:hover {
  background-color: #C200FB; /* Darker red color on hover */
}

.delete-button:active {
  background-color: #bd2130; /* Even darker red color when clicked */
}


/* .recipe-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px;
  background-color: white;
  margin-top: 300px;
  border-radius: 20px;
  text-align: center;
}
.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.recipe-cards h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

.recipe-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe-card p {
  margin-bottom: 10px;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.recipe-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.recipe-card button:hover {
  background-color: #0056b3;
} */


/* journal css */

/* Container for the entire form */
.form-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 220px;
  margin-right: 40px;
  margin-left: 30px;
}

/* Style for form heading */
.form-container h1 {
  margin-bottom: 10px;
  text-align: center;
}

/* Style for form inputs and labels */
.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for file input */
.form-container input[type="file"] {
  margin-bottom: 20px;
}

/* Style for submit button */
.form-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #C200FB;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for message display area */
.message-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.image-gallery-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 50px;
  margin-top: 30px;
  /* Additional styling for the image gallery container */
}

.image-gallery-container h2 {
  margin-bottom: 90px;
  margin-top: -20px;
  text-align: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.image-container img {
  margin: 10px;
  max-width: 200px;
  max-height: 500px;
  object-fit: contain; 
  border-radius: 5px; /* Adds a rounded border to the images */
  

}